body{
  
    background-color: black;
    
}

h1{
    color: red;
    text-align: center;
    font-weight: 800;
    font-family: fantasy;
    opacity: 0.5;

}
.first{
    border-style: solid;
    border-radius: 25px;
    border-width: 10px;
    border-color: white;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color:darkblue;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
    font-weight: 600;
}
.second{
    text-align: center;
    color: ivory;
}

.table{
    color: yellow;
    font-style: italic;
}
h5{
    color:green;
    font-weight: 800;
    font-family: 'Satisfy', cursive;
    font-size: 30px;
    opacity: 0.5;
}
.jumbotron{
    background-color: transparent;
    color:white;
    font-family: 'Josefin Slab', serif;
    font-size: 20px;
}
h6{
    color: white;
    font-family: 'Rochester', cursive;
    font-size: 25px;
    opacity: 0.7;
}
.form-control{
    background-color: white;
    opacity: 0.3;
    font-size: 20px;
    
}
