body{
    background-image: url(hotel.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: blue;
    text-align: center;
    font-weight: 800;
    font-family: fantasy;
    opacity: 0.5;

}
.first{
    border-style: solid;
    border-radius: 25px;
    border-width: 10px;
    border-color: silver;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    color:red;
    font-family: cursive;
}
.second{
    text-align: center;
    color: ivory;
}
.form-group{
    font-weight: 600;
    font-family: serif;
    font-size: 20px;
}
.table{
    color: yellow;
    font-style: italic;
}
h5{
    color:cyan;
    font-weight: 800;
}